[submodule "bosh/bosh-deployment"]
	path = bosh/bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment
[submodule "cf/cf-deployment"]
	path = cf/cf-deployment
	url = https://github.com/cloudfoundry/cf-deployment
[submodule "hello-spring-cloud"]
	path = hello-spring-cloud
	url = https://github.com/cloudfoundry-samples/hello-spring-cloud.git
